@import "../../general.scss";

.menu {
    width: 300px;
    height: 100vh;
    background-color: $second;
    position: fixed;
    top: 0;
    right: -300;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 35px;
        font-weight: 300;
        color: $primary;
        width: 60%;

        li{
            margin-bottom: 25px;
            a{
                font-size: inherit;
                text-decoration: none;
                color: inherit;
                font-weight: inherit;
               
                
            }
            &:hover {
                font-weight: bold;
            }
            
        }


    }
}

